@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@using Microsoft.AspNetCore.Identity
@using Domain.Models
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SocialNetworkGFL</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/custom.css" />
    <link rel="stylesheet" href="~/css/font-awesome/css/fontawesome.min.css" />
    <link rel="stylesheet" href="~/css/font-awesome/css/regular.min.css">
    <link rel="stylesheet" href="~/css/font-awesome/css/solid.min.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                @if (SignInManager.IsSignedIn(User))
                {
                    <span><i class="fa fa-home"></i></span>
                    @Localizer["Home"]
                }
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <li class="nav-item active">
                            <a class="nav-link text-dark" asp-area=""
                               asp-controller="Profile" asp-action="Index">@Localizer["Profile"]</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area=""
                               asp-controller="Profile" asp-action="UserFollows">@Localizer["Follows"]</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area=""
                               asp-controller="Profile" asp-action="UserFollowers">@Localizer["Followers"]</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area=""
                               asp-controller="Profile" asp-action="Notifications">
                                @Localizer["Notifications"]
                                <span class="badge badge-primary" id="notificationBadge">
                                    0
                                </span>
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                ...
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" asp-controller="Post" 
                                   asp-action="LikedPosts">My liked posts</a>
                                <a class="dropdown-item" asp-controller="Post"
                                   asp-action="UserComments">My comments</a>
                            </div>
                        </li>
                    }

                </ul>
                @if (SignInManager.IsSignedIn(User))
                {
                    <div>
                        <button class="btn btn-primary">
                            <a class="textLink btnTextLight" asp-area=""
                               asp-controller="Account" asp-action="Logout">@Localizer["Logout"]</a>
                        </button>
                    </div>
                }

                else
                {
            <div>
                <button class="btn btn-primary">
                    <a class="textLink btnTextLight"  asp-area=""
                       asp-controller="Account" asp-action="Login">@Localizer["Login"]</a>
                </button>
            </div>
                }
                <div class="navbar-text">
                    <a class="nav-link text-dark" asp-area=""
                       asp-controller="Home" asp-action="Search">
                    <span><i class="fa fa-search"></i></span>
                    @Localizer["Search"]</a>
                </div>
                <div>
                    @await Html.PartialAsync("_SelectLanguage")
                </div>
            </div>
        </nav>
    </header>
    <div class="container bodyContainer">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - SocialNetworkGFL - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/js/signalr/notificationscript.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
