@model Domain.Models.Post
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

<div>
    <div class="postContainer">
        <img src="~/images/istockphoto-1300845620-612x612.jpg" />
        <div>
            <h3>@Model.User.Name</h3>
            <a asp-controller="Profile" 
               asp-action="Index" asp-route-id="@Model.User.Id">@Model.User.UserName</a>
            <p>@Model.Content</p>
            <div class="postStats">
                <span>
                    @Localizer["Likes"]:
                    @if (@Model.Likes == null)
                    {
                        <span>0</span>
                    }
                    else
                    {
                        @Model.Likes.Count
                    }

                </span>
                <span>
                    <a asp-controller="Profile"
                       asp-action="Post" 
                       asp-route-id="@Model.Id">@Localizer["Comments"]:</a>
                    @if (@Model.Comments == null)
                    {
                        <span>0</span>
                    }
                    else
                    {
                        @Model.Comments.Count
                    }
                </span>
                <p><i>@Model.Date</i></p>
                <hr />
            </div>
        </div>
    </div>
</div>
