@model BusinessLogic.Dto.ExtendedPostDto
@using Microsoft.AspNetCore.Mvc.Localization
@{ 
    var avatar = Model.User.AvatarId + Model.User.AvatarExtension;
    var requestUrl = Context.Request.Path;
    var date = Model.Date.ToLocalTime();
}

@inject IViewLocalizer Localizer

<div>
    <div class="postContainer">
        @await Html.PartialAsync("_Avatar", avatar)
        <div>
            <h3>@Model.User.Name</h3>
            <a asp-controller="Profile"
               asp-action="Index" asp-route-id="@Model.User.Id">@Model.User.UserName</a>
                <a asp-controller="Profile"
                   asp-action="Post" asp-route-id="@Model.Id"
                   class="textLink">
                    <div>
                        @Model.Content
                    </div>
                </a>
                <div class="postStats">
                    <span>
                        @if (Model.IsLiked)
                        {
                            <a asp-action="DislikePost" class="textLink"
                               asp-controller="Post"
                               asp-route-returnUrl="@requestUrl"
                               asp-route-postId="@Model.Id">
                                <span>
                                    <i class="fa fa-heart fa-2x"></i>
                                </span>
                            </a>
                        }
                        else
                        {
                            <a asp-action="LikePost" class="textLink"
                               asp-controller="Post"
                               asp-route-returnUrl="@requestUrl"
                               asp-route-postId="@Model.Id">
                                <span>
                                    <i class="fa fa-heart fa-2x" style="color:lightgray"></i>
                                </span>
                            </a>
                        }

                        @if (@Model.Likes == null)
                        {
                            <span>0</span>
                        }
                        else
                        {
                            @Model.Likes.Count
                        }

                    </span>
                    <span>
                        <span>
                            <i class="fa fa-comment fa-2x"></i>
                        </span>
                        @if (@Model.Comments == null)
                        {
                            <span>0</span>
                        }
                        else
                        {
                            @Model.Comments.Count
                        }
                    </span>
                    <p>
                        <i>
                            @date
                        </i>
                    </p>

                    @*<div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" 
                                type="button" id="dropdownMenuButton" 
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            More
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" 
                               asp-controller="Post" 
                               asp-action="Delete" 
                               asp-route-id="@Model.Id"
                               asp-route-returnUrl="@Context.Request.Path">Delete</a>
                        </div>
                    </div>*@
                    <hr />
                </div>
        </div>
    </div>
</div>
