@model BusinessLogic.Dto.ProfileDto
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer


<div>
    @await Html.PartialAsync("_Avatar", @Model.AvatarId + @Model.AvatarExtension)
    <h3>
        @Model.Name
        @if (@Model.IsFollower)
        {
            <span class="badge badge-primary">
                @Localizer["FollowsYou"]
            </span>
        }
    </h3>
    <a asp-controller="Profile"
       asp-action="Index" asp-route-id="@Model.Id">@Model.UserName</a>
    @if (!@Model.IsFollowed)
    {
            <a asp-controller="Profile" class="textLink btn btn-primary" 
               role="button"
               id="followBtn" data-userId="@Model.Id"
               asp-route-returnUrl="@Context.Request.Path"
               asp-action="Follow" asp-route-id=@Model.Id>@Localizer["Follow"]
            </a>
    }
    else
    {
            <a asp-controller="Profile" class="textLink btn btn-light border"
               id="unfollowBtn" data-userId="@Model.Id"
               asp-route-returnUrl="@Context.Request.Path"
               role="button"
               asp-action="Unfollow" asp-route-id=@Model.Id>@Localizer["Unfollow"]</a>
    }
    <hr />
</div>


