@{
    ViewData["Title"] = "Home Page";
}

@model IEnumerable<Domain.Models.Post>

<div class="row">
    <form method="post">
        <fieldset>
            <legend>Add Post</legend>
            <div class="form-group">
                <input type="text" class="form-control" name="content" value="" />
            </div>
            <div>
                <label>&nbsp;</label>
                <input type="submit" value="Submit" class="submit btn btn-primary" />
            </div>
        </fieldset>
    </form>
</div>

<div>
    @foreach (var item in Model)
    {
        @await Html.PartialAsync("../Shared/_Post.cshtml", item)
        @*


                <div class="postContainer">
                <img src="~/images/istockphoto-1300845620-612x612.jpg" />
                <div>
                    <h2>@item.User.Name</h2>
                    <p>@item.User.Login</p>
                    <p>@item.Content</p>
                    <div class="postStats">
                        <span>
                            <a asp-action="ToggleLike" asp-route-postId="@item.Id">Likes:</a>
                            @if (item.Likes == null)
                            {
                                <span>0</span>
                            }
                            else
                            {
                                @item.Likes.Count
                            }

                        </span>
                        <span>
                            <a asp-controller="Profile"
                               asp-action="Post" asp-route-id="@item.Id">Comments:</a>
                            @if (item.Comments == null)
                            {
                                <span>0</span>
                            }
                            else
                            {
                                @item.Comments.Count
                            }
                        </span>
                        <p><i>@item.Date</i></p>
                        <hr />
                    </div>
                </div>
            </div>*@
    }
</div>
