@model BusinessLogic.Dto.SearchDto

@{
    ViewData["Title"] = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var returnUrl = Context.Request.Path + "?keyword=" + Model.Keyword;
}

@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

<div class="searchFormContainer">
    <h2>@Localizer["DiscoverUsers"]</h2>
    <form asp-controller="Home" asp-action="search" class="form-inline searchForm">
        <input type="text" name="keyword" id="keyword"
               value="@Model.Keyword" class="form-control" placeholder="@Localizer["Placeholder"]" />
        <input type="button" value="@Localizer["Search"]" class="btn btn-primary" onclick="onSearch()" />
    </form>
</div>

@if (Model.Users == null)
{
}
else
{
    @foreach (var item in Model.Users)
    {
        <div>
            @await Html.PartialAsync("_Profile", item)
        </div>
    }
}

<script type="text/javascript">
    function onSearch() {
        let keyword = document.getElementById("keyword").value;
        var url = '@Url.Action("Search", "Home")?keyword=' + keyword;
        window.location.href = url;
    }
</script>


