
@model Domain.Models.Post

<div>
    <div>
        <div>
            @await Html.PartialAsync("../Shared/_Post.cshtml", Model)
        </div>
    </div>
    @*<div>
          <div class="postContainer">
                <img src="~/images/istockphoto-1300845620-612x612.jpg" />
                <div>
                    <h2>@Model.User.Name</h2>
                    <p>@Model.User.Login</p>
                    <p>@Model.Content</p>
                    <div class="postStats">
                        <span>
                            Likes:
                            @if (@Model.Likes == null)
                            {
                                <span>0</span>
                            }
                            else
                            {
                                @Model.Likes.Count
                            }

                        </span>
                        <span>
                            <a 
                               asp-controller="Profile"
                               asp-action="Post" asp-route-id="@Model.Id">Comments:</a>
                            @if (@Model.Comments == null)
                            {
                                <span>0</span>
                            }
                            else
                            {
                                @Model.Comments.Count
                            }
                        </span>
                        <p><i>@Model.Date</i></p>
                        <hr />
                    </div>
                </div>
            </div>
    </div>*@
    <div class="row">
        <form asp-action="Post">
            <fieldset>
                <legend>Add comment</legend>
                <div class="form-group">
                    <input type="text" asp-for="Content" class="form-control" value="" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Add" class="btn btn-primary" />
                </div>
            </fieldset>
        </form>
    </div>
    <div>
        @foreach (var item in Model.Comments)
        {
            <p>@item.Content</p>
            <p>@item.Date</p>
            <hr />
        }
    </div>
</div>
