@model IEnumerable<BusinessLogic.Dto.ProfileModel>

@{
    ViewData["Title"] = "UserFollowers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

<h2>@Localizer["Followers"]: @Model.Count()</h2>
@if (Model.Count() == 0)
{
    @Localizer["NoFollowersMessage"]
}
else
{
    <div>
        @foreach (var item in Model)
        {
        <div>
            @await Html.PartialAsync("_Profile", item)
        </div>
            @*<div>
                @await Html.PartialAsync("_Avatar", item.AvatarId + item.AvatarExtension)
                <h3>
                    @item.Name
                    <span class="badge badge-primary">
                        @Localizer["FollowsYou"]
                    </span>
                </h3>
                <a asp-controller="Profile"
                   asp-action="Index" asp-route-id="@item.Id">@item.UserName</a>
                @if (!item.IsFollowed)
                {
                    <button class="btn btn-primary" id="followBtn" data-userId="@item.Id">
                        <a asp-controller="Profile" class="textLink"
                           asp-route-returnUrl="@Context.Request.Path"
                           asp-action="Follow" asp-route-id=@item.Id>@Localizer["Follow"]</a>
                    </button>
                }
                else
                {
                    <button class="btn btn-light border" id="unfollowBtn" data-userId="@item.Id">
                        <a asp-controller="Profile" class="textLink"
                           asp-route-returnUrl="@Context.Request.Path"
                           asp-action="Unfollow" asp-route-id=@item.Id>@Localizer["Unfollow"]</a>
                    </button>
                }
                <hr />
            </div>*@
        }
    </div>
}





